[Unit]
Description=Enviro+ Monitor
After=multi-user.target
 
[Service]
WorkingDirectory=/home/pi/enviroplus-monitor
Type=simple
ExecStart=/usr/bin/python -m enviroplusmonitor
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
