adafruit-circuitpython-dht
ads1015
configobj
enviroplus
i2cdevice
influxdb
json-schema-codegen
jsonschema
paho-mqtt
pimoroni-bme280
pint
pydantic
RPi.GPIO
smbus
timeloop
jinja2>=2.11.3 # not directly required, pinned by Snyk to avoid a vulnerability
